<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Deta app</title>
    <link href="{{ url_for('static', filename = 'css/base.css') }}" rel="stylesheet">
</head>

<body>

    <div class="navbar">
        <div class="navbar_link">
            <a class="link" href="{{ url_for('hellow_world') }}" style="text-decoration:none">Hellow</a>
            <a class="link" href="{{ url_for('logger') }}" style="text-decoration:none">Logger</a>
            <a class="link" href="{{ url_for('cookies') }}" style="text-decoration:none">Cookies</a>
            <a class="link" href="{{ url_for('visitors') }}" style="text-decoration:none">Visitors</a>
            <a class="link" href="{{ url_for('trend') }}" style="text-decoration:none">Trend</a>
            <a class="link" href="{{ url_for('timer_log') }}" style="text-decoration:none">Timer log</a>
        </div>
    </div>


    </div>

    <div class="container">
        {% block container %}{% endblock %}
    </div>

</body>

</html>