<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Hellow world</title>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','G-5W5P1Y2GKG');</script>
        <!-- End Google Tag Manager -->
        
    </head>

    <body>

      <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-5W5P1Y2GKG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        </br>
        <button type="button">Click Me!</button>
        </br> 
        <p>Hellow world !</p>
        <p>Welcome to the home page</p>
        </br>
        <div class = "elements padding">
            <form method = "POST">
              <input type = "submit" name="submit" value = "Logger">
            </form>
          </div>
    </body>
</html>